appdirs==1.4.4
asgiref==3.3.0
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
decorator==4.4.2
distlib==0.3.1
Django==3.1.3
filelock==3.0.12
Flask==1.1.2
gunicorn==20.0.4
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.2
importlib-metadata==2.0.0
importlib-resources==3.3.0
itsdangerous==1.1.0
Jinja2==2.11.2
lxml==4.6.1
MarkupSafe==1.1.1
moviepy==1.0.3
numpy==1.19.4
pandas==1.1.4
Pillow==8.0.1
proglog==0.1.9
pymango==0.1.1
python-dateutil==2.8.1
python-pptx==0.6.18
pytz==2020.4
requests==2.24.0
six==1.15.0
sqlparse==0.4.1
tqdm==4.51.0
urllib3==1.25.11
virtualenv==20.1.0
Werkzeug==1.0.1
xlrd==1.2.0
XlsxWriter==1.3.7
zipp==3.4.0
